<div class="col-8 Mision-vision">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid">
                <div class="col ">
                    <h5 id="mision">Mision</h5>
                    <p align="justify">Mi misión  como docente no solo es enseñar en el campo cognitivo, sino también en el campo afectivo
                        y psicomotor,  muy pocos maestros actualmente abarcan estos tres grandes campos, A través de los
                        contenidos conceptuales, procedimentales y actitudinales  debemos informar y forma a nuestros alumnos. <br>
                        Pocos son los profesores  que nos enseñan a querer y respetar nuestro cuerpo, ha cuidar nuestra
                        autoestima, nuestra sensibilidad, pocos son en verdad los que nos hablan de una meta cognición
                        necesaria para poder obtener conocimientos nuevos  y hacer una reelaboración  y aplicación de
                        lo viejo.</p>
                    <hr>
                    <h5>Vision</h5>
                    <p align="justify">Para mi ser docente va más allá de solo transmitir conocimientos, por esta razón, el tipo de docente
                        que deseo de ser va más allá. Por esa razón: <br>
                        Quiero ser una docente que motive a sus alumnos a luchar por sus sueños, una docente que no destruya
                        los sueños de ningún alumno, quiero ser una docente empática, estricta pero no que imponga, una 
                        docente que no piense que siempre tengo la razón, una docente que sea capaz de intervenir por sus 
                        alumnos, que no se rinda si los alumnos no estén aprendiendo y buscar otras opciones de enseñanza.</p>
                    <a href="#">Mas Detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>