<footer class="col-12" id="pie" > 
    <hr>
    <h4 .font-italic style="color:#ff7300">
         <center> Todos los derechos reservados &copy; 2020 - Ureña Vargas Erik Gerson</center>
    </h4>
</footer>