<nav class="navbar navbar-expand-sm bg-dark navbar-dark" clas="titulo">				
    <h1 class="text-light">Aula virtual
        <div>
            <h3>
            Profesor Juan Pinto
            </h3>
        </div>
    </h1>	
</nav>