<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/style.css" >
	<title>Aula Virtual </title>
</head>
<body background="img/fondo pagina.jpg">	
	<div class="container-fluid"> 
       <header class="cabecera">
            <nav class="navbar navbar-expand-sm bg-dark navbar-white">				
                    <h1 class="text-light">Aula virtual
                        <div>
                            <h3>
                            Profesor Juan Pinto
                            </h3>
                        </div>
                    </h1>	
            </nav>     
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" ></li>
                    <li data-target="#demo" data-slide-to="1" class="active" ></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="img/profesor en aula.jpg" class="d-block" alt="image" height="485" width="100%">
                    </div>

                    <div class="carousel-item active">
                        <img src="img/notas en pizarra.jpg" class="d-block" alt="image" height="485" width="100%">
                    </div>

                    <div class="carousel-item">
                        <img src="img/fondo idea.jpg" class="d-block" alt="image" height="485" width="100%">
                    </div>
                </div>

                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
       </header>
       <nav>
           <br>
       </nav>
       <div class="row contenido" >        
            <div class="col-8 Mision-vision">
                <div class="row-5">                    
                        <div class="jumbotron jumbotron-fluid">
                            <div class="col">
                                <h5 id="mision">Mision</h5>
                                <p align="justify">Mi misión  como docente no solo es enseñar en el campo cognitivo, sino también en el campo afectivo
                                    y psicomotor,  muy pocos maestros actualmente abarcan estos tres grandes campos, A través de los
                                    contenidos conceptuales, procedimentales y actitudinales  debemos informar y forma a nuestros alumnos. <br>
                                    Pocos son los profesores  que nos enseñan a querer y respetar nuestro cuerpo, ha cuidar nuestra
                                    autoestima, nuestra sensibilidad, pocos son en verdad los que nos hablan de una meta cognición
                                    necesaria para poder obtener conocimientos nuevos  y hacer una reelaboración  y aplicación de
                                    lo viejo.</p>
                                <hr>
                                <h5>Vision</h5>
                                <p align="justify">Para mi ser docente va más allá de solo transmitir conocimientos, por esta razón, el tipo de docente
                                    que deseo de ser va más allá. Por esa razón: <br>
                                    Quiero ser una docente que motive a sus alumnos a luchar por sus sueños, una docente que no destruya
                                    los sueños de ningún alumno, quiero ser una docente empática, estricta pero no que imponga, una 
                                    docente que no piense que siempre tengo la razón, una docente que sea capaz de intervenir por sus 
                                    alumnos, que no se rinda si los alumnos no estén aprendiendo y buscar otras opciones de enseñanza.</p>
                                <a href="#">Mas Detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col formulario">
                    <ul class="list-group">                    
                        <div class="row-4">                            
                            <section id="content">
                                <form action="/login2" method="post">
                                    <h1>Ingresar</h1>
                                    <div>
                                        <input type="text" name="usuario" id="usuario" placeholder="Usuario" required=""   />
                                    </div>
                                    <div>
                                        <input type="password" name="pasword" id="pasword" placeholder="Contraseña" required=""  />
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary btn-lg" >Aceptar</button>                                       
                                    <div class="col-11">                                            
                                            <a href="#">Olvidaste tu Contraseña?</a> 
                                            <a href="/registro">Registrate</a>                                                                                              
                                    </div>    
                                </form><!-- form -->
                            </section><!-- content -->                             
                        <div>                    
                    </ul>
                </div>
            </div>
        <div>
        <br>
        <div class="col-5" >
          <div class="card" style="width:500px" >
                <img class="card-img-top" src="https://image.freepik.com/vector-gratis/perfil-empresario-dibujos-animados_18591-58479.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title">Juan Pinto</h4>
                    <p class="card-text" align="justify">Hoy en día el avance de las tecnologías se ha convertido en una herramienta importante en el desarrollo del proceso de enseñanza y aprendizaje, la cual nos  permite a los estudiantes adquirir el conocimiento en forma más inmediata y amplia, gracias a la utilización de las web 2.0, sin embargo, en ocasiones esto no es suficiente para que el alumno aprenda, debido a que muchas veces este conocimiento no siempre se sabe aplicar. .</p>
                    <a href="#" class="btn btn-primary">Perfil</a>
                </div>
          </div>
        </div> 
    </div>
    
    <footer class="col-12" id="pie" > 
        <hr>
        <h4 .font-italic style="color:#ff7300">
             <center> Todos los derechos reservados &copy; 2020 - Ureña Vargas Erik Gerson</center>
        </h4>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>